# Visual Studio files
*.obj
*.pdb
*.exe
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.vc.db
*.VC.opendb
*.ipch/
[Bb]in/
[Dd]ebug*/
*.bak
*.obj
*.exe
*.dll
*.cache
*.log
*.userprefs
*.sln.docstates